/* Write your CSS here */
.card {
  height: 300px;
  width: 200px;
  padding: 5px;
  border-radius: 10px;
}
.name {
  color: black;
  font-family: 'sans-serif';
}
.img {
  height: 200px;
  width: 200px;
}
